#textWrapper{ 
    width: 60%; 
    margin: 30px auto 10px auto; 
    border: 1px solid; 
} 

p{ 
    padding-left: 10px; 
    padding-top: 10px; 
}

h3{ 
    margin-left: 10px; 
    margin-bottom: -40px; 
}
