<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weekly View</title>
        <link rel="stylesheet" href="./style.css">
    </head>

    <body>

        <h1>Weekly View</h1>
        
        <div class="container flex-container">
            <div class="column-container">
                <div class="day monday">
                    <p>Monday</p>
                    <div class="column-content"></div>
                </div>
                <div class="day tuesday">
                    <p>Tuesday</p>
                    <div class="column-content"></div>
                </div>
                <div class="day wednesday">
                    <p>Wednesday</p>
                    <div class="column-content"></div>
                </div>
                <div class="day thursday">
                    <p>Thursday</p>
                    <div class="column-content"></div>
                </div>
                <div class="day friday">
                    <p>Friday</p>
                    <div class="column-content"></div>
                </div>
                <div class="day saturday">
                    <p>Saturday</p>
                    <div class="column-content"></div>
                </div>
                <div class="day sunday">
                    <p>Sunday</p>
                    <div class="column-content"></div>
                </div>
            </div>
        </div>
    </div>

        <script src="./weekly.js"></script>
    </body>
</html>