<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entry Cretor Test </title>
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <main></main>

  <div id="textWrapper">
    <h3>Entries: </h3>
    <ul id="entry-container"> 
    <!-- https://www.w3schools.com/howto/howto_css_modals.asp -->
    <!-- The Modal --->

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class = "modal-header"> 
          <span class="close">&times;</span>
          <h4 class = "modal-title"> Edit bullet </h4>
        </div>
        <form id="edit">
          <ul>
            <p id="modal-words" contenteditable="true">Some text in the Modal..</p>
            <div id="radioEdit">
              <input type="radio" name="entryTypeEdit" id="task" value="task">
              <label for="task">Task</label>
              <input type="radio" name="entryTypeEdit" id="event" value="event"> 
              <label for="event">Event </label>
              <input type="radio" name="entryTypeEdit" id="note" value="note"> 
              <label for="note">Note </label> 
            </div>
            <button id="editButton"> Confirm Edit </button>
            <button id="doneButton"> Finish Bullet </button>
          </ul>
        </form>
      </div> 
    </div>
        
    </ul>
  </div>

  <!--Template for entry-->
  <template id="entry"> 
    <li id="type" class="type-name">
      <p id="content"></p> <br>
      <img src="" alt="" class="entry-image"></img> <br>
      <audio src="" class="entry-audio"></audio>
    </li>
    <nav class="menu">
      <ul>
          <li>
          <button onclick="alert('Hello there!')">
              Display Greeting
          </button>
          </li>
          <li>
          <button onclick="print()">
              Print This Page
          </button>
          </li>
      </ul>
      </nav>
  </template>

  <!--Template for entry creator -->
  <template id="entry-creator-temp"> 
    <div id="wrapper">
      <form id="entryCreator">
        <ul>
        <!--Determine type of bullet point it'll be-->
          <li>
            <div id="radio1">
              <input type="radio" name="entryType" id="task" value="task" required>
              <label for="task">Task</label>
              <input type="radio" name="entryType" id="event" value="event"> 
              <label for="event">Event </label>
              <input type="radio" name="entryType" id="note" value="note"> 
              <label for="note">Note </label> 
            </div>
          </li>

          <!--Image input-->
          <li>
            <label for="image-input">Insert Image</label>
            <input type="file" name="image" id="image-input" accept="image/*"> <br>
          </li>
          
          <!--Audio input-->
          <li>
            <label for="audio-input">Insert Audio</label>
            <input type="file" name="audio" id="audio-input" accept="audio/*"><br>
          </li>
          

          <!--Where they'll log their stuff-->
          <li>
            <input type="text" name="entryBox" id="entryBox" placeholder="Your entry" required>
          </li>
          
    
          <!--Add button-->
          <li>
            <button type="submit" id="addButton"> Add </button> 
          </li>
        </ul>
      </form>
    </div>
  </template>

  <!--entry component, load this first -->
  <script src="entry.js" type="module"></script>

  <!--entry-creator component-->
  <script src="entry-creator.js" type="module"></script>

  <!--Control script-->
  <script src="script.js" type="module"></script>
</body>

</html>