<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bullet</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <div class="bullet-container">
                <ul class="bullet-list">
                    <li>
                        <button>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum enim neque autem aspernatur earum, vitae repellat quisquam minima praesentium dignissimos expedita optio provident, tempore aperiam mollitia explicabo sequi asperiores.</button>
                    </li>
                    <li>
                        <button>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum cum enim neque autem aspernatur earum, vitae repellat quisquam minima praesentium dignissimos expedita optio provident, tempore aperiam mollitia explicabo sequi asperiores.</button>
                    </li>
                </ul>
            </div>
        </main>
    </body>
</html>