<html lang="en">
<h1>Daily View</h1>

    <style>
    .full-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    </style>

    <div class ="full-date">
        
        <i class='fas fa-angle-left fa-pull-left' id="prev"> &lt;</i>
        <div id="date"></div>
        <i class='fas fa-angle-right' id="next"> &gt; </i>

    </div>

    <script type="text/javascript" src="/source/frontend/src/js/components/pages/daily.js"></script>

</html>