<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/weekly-component.css">
    <script src="../js/components/pages/weekly-component.js"></script>
  </head>
  
  <body>
    <h2>Weekly View</h2>
    <button class="collapsible" onclick="expandComponent(this)">Monday 5/10</button>
    <div class="content">
      <ul>
        <li>Do homework; Due Friday</li>
        <li>Get dinner with friend</li>
      </ul>
    </div>
    <button class="collapsible" onclick="expandComponent(this)">Tuesday 5/11</button>
    <div class="content">
      <ul>
        <li>Mom's birthday</li>
        <li>Hang up laundry</li>
      </ul>
    </div>
    <button class="collapsible" onclick="expandComponent(this)">Wednesday 5/12</button>
    <div class="content">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum maxime quos animi repellendus, commodi ullam tenetur quia porro perspiciatis veniam cum laborum, molestiae aut repellat? Dolor commodi ea corporis. Doloremque.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis atque voluptate, libero alias enim provident repudiandae consequatur perspiciatis sunt aspernatur iusto neque impedit ratione voluptas, fugiat nihil iste, voluptatem dolor!</li>
      </ul>
    </div>
    <button class="collapsible" onclick="expandComponent(this)">Thursday 5/13</button>
    <div class="content">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum maxime quos animi repellendus, commodi ullam tenetur quia porro perspiciatis veniam cum laborum, molestiae aut repellat? Dolor commodi ea corporis. Doloremque.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis atque voluptate, libero alias enim provident repudiandae consequatur perspiciatis sunt aspernatur iusto neque impedit ratione voluptas, fugiat nihil iste, voluptatem dolor!</li>
      </ul>
    </div>
    <button class="collapsible" onclick="expandComponent(this)">Friday 5/14</button>
    <div class="content">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum maxime quos animi repellendus, commodi ullam tenetur quia porro perspiciatis veniam cum laborum, molestiae aut repellat? Dolor commodi ea corporis. Doloremque.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis atque voluptate, libero alias enim provident repudiandae consequatur perspiciatis sunt aspernatur iusto neque impedit ratione voluptas, fugiat nihil iste, voluptatem dolor!</li>
      </ul>
    </div>
    <button class="collapsible" onclick="expandComponent(this)">Saturday 5/15</button>
    <div class="content">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum maxime quos animi repellendus, commodi ullam tenetur quia porro perspiciatis veniam cum laborum, molestiae aut repellat? Dolor commodi ea corporis. Doloremque.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis atque voluptate, libero alias enim provident repudiandae consequatur perspiciatis sunt aspernatur iusto neque impedit ratione voluptas, fugiat nihil iste, voluptatem dolor!</li>
      </ul>
    </div>
    <button class="collapsible" onclick="expandComponent(this)">Sunday 5/16</button>
    <div class="content">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum maxime quos animi repellendus, commodi ullam tenetur quia porro perspiciatis veniam cum laborum, molestiae aut repellat? Dolor commodi ea corporis. Doloremque.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis atque voluptate, libero alias enim provident repudiandae consequatur perspiciatis sunt aspernatur iusto neque impedit ratione voluptas, fugiat nihil iste, voluptatem dolor!</li>
      </ul>
    </div>
  
  </body>
</html>